body {
    background-color: rgb(78, 114, 116);
    color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card-header {
    text-align: center;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    
}
h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;   
}

.plant-image {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
    object-fit: contain;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

p:hover {
    color: #3498db;
    cursor: pointer;
}